.DS_Store
.idea
/test/OUTPUT.md
/test/secrt
/test/alice/secrt.json
/test/bob/secrt.json
/test/charlie/secrt.json
/cmd/secrt/server.json
/test/server.json
/test/alice.json
/test/bob.json
/test/charlie.json
/test/denise.json
/test/ernie.json
